body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  background-color: rgb(15, 15, 15);
  max-width: 100%;
  color: white;
}

.main {
  margin: 0px 13vw 0 13vw;
}
@media screen and (max-width: 600px) {
  .main {
    margin: 0px 32px 0 32px;
  }
}

h1 {
  margin: 0 0 100px 0;
  font-size: 8vw;
  font-weight: 600;
  line-height: 8vw;
}
@media screen and (max-width: 615px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
}

h2 {
  margin: 0 0 50px 0;
  font-size: 4vw;
  font-weight: 600;
  line-height: 4vw;
}
@media screen and (max-width: 615px) {
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

.article-eyebrow {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.324px;
}

.benutzerListe {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .benutzerListe {
    grid-template-columns: 100%;
  }
}
@media screen and (min-width: 900px) {
  .benutzerListe {
    grid-template-columns: 32% 32% 32%;
  }
}
@media screen and (min-width: 1200px) {
  .benutzerListe {
    grid-template-columns: 24% 24% 24% 24%;
  }
}
@media screen and (min-width: 1500px) {
  .benutzerListe {
    grid-template-columns: 20% 19% 19% 19% 20%;
  }
}

.benutzerKachel {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  border: 1px solid rgba(194, 194, 199, 0.635);
  filter: drop-shadow(rgba(0, 0, 0, 0.027) 1px 2px 6px);
}
.benutzerKachel p {
  margin: 0 0 0 10px;
}

.links {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .links {
    grid-template-columns: 100%;
  }
}
@media screen and (min-width: 1300px) {
  .links {
    grid-template-columns: 33% 33% 33%;
  }
}
.links .link {
  width: 100%;
  min-height: 140px;
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  background-color: black;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.links .link .top {
  font-size: 16px;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  letter-spacing: 0.231px;
  font-weight: 600;
  color: rgb(134, 134, 139);
}
.links .link .top img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.links .link .bottom {
  justify-content: space-between;
  font-size: 17px;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  margin: auto;
  width: 100%;
  color: white;
  font-weight: 400;
  letter-spacing: -0.374;
}
.links .link h3 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 5px;
  overflow: hidden;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  margin-bottom: 11px;
  letter-spacing: 0.128px;
}

select {
  color: rgb(0, 0, 0);
  color: white;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0 auto 0 auto;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
  display: block;
  background-color: rgb(255, 255, 255);
  background-color: rgba(66, 66, 69, 0.7);
  border-radius: 40px;
  padding: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  border: 1px solid rgba(194, 194, 199, 0.635);
  border: 1px solid rgba(194, 194, 199, 0.014);
  outline: none;
}

p {
  color: rgb(134, 134, 139);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 28px;
  letter-spacing: 0.231px;
}
p .thick {
  color: rgb(0, 0, 0);
}

.selectable {
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}

.lighterText {
  color: rgb(134, 134, 139);
}

a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=css-moderation.css.map */