@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Inter";
    margin: 0px;
}


/*
div {
    border: 0.1px solid rgba(0, 0, 0, 0.152);
}
li {
    border: 0.1px solid rgba(0, 0, 0, 0.145);

}
*/


.divHideOnIpad {
    // Stile, die immer gelten sollen, unabhängig von der Bildschirmbreite
    display: block;

    @media screen and (min-width: 768px) {
      // Stile, die nur gelten sollen, wenn die Bildschirmbreite 768px oder weniger ist
      display: none;
    }
}


.textScaleWithWebsite1 {

    font-size: 2.5vw;

    @media screen and (max-width: 768px) {
        // Stile, die nur gelten sollen, wenn die Bildschirmbreite 768px oder weniger ist
        font-size: 14px;

    }

    @media screen and (min-width: 1100px) {
        // Stile, die nur gelten sollen, wenn die Bildschirmbreite 768px oder weniger ist
        font-size: 26px;
    }
}



.cropnavbar {

    background-color: red;

    width: 100vw;
    position: absolute;

    transition: width 0.2s ease-in-out;

    &.open {
        width: 100vw;

        @media screen and (min-width: 768px) {
        
            width: 400px;
    
        }
    }
    &.close {
        width: 0vw;

        @media screen and (min-width: 768px) {
        
            width: 400px;
    
        }
    }

    @media screen and (min-width: 768px) {
        
        width: 400px;
        position: relative;

        

    }



    .navbar {

        width: 100vw;
    
        @media screen and (min-width: 768px) {
        
            width: 400px;
            position: relative;

        }

        transition: width 0s ease-in-out;

    }

    

}




.main {

    max-height: 10000px;
}